<content>
	<gameID>222333444</gameID>
	<gameLinkage></gameLinkage>
	<gameClass>com.disney.PuffleMania.PuffleManiaGameController</gameClass>

<!--	<gameLocale>
		en
	</gameLocale> -->




	<gameConfig>
		RobotsConfig.xml
	</gameConfig>
	<gameAssets>
		PuffleManiaContent.swf
	</gameAssets>
	<!-- A Comment in the xml -->
</content>
