@font-face {
	font-family: Ubuntu;
	src: url(Ubuntu-Regular.ttf);
}

body {
	text-align: center;
	background-color: black;
	color: white;
}

button {
	color: white;
	background-color: black;
	border: none;
}

button:hover {
	color: rgb(12, 161, 14);
}

header {
	padding: 20px 50px;
	margin-bottom: 70px;
}

img {
	float: left;
}

li {
	float: right;
	padding: 18px 40px;
	font-size: 0px;
	text-align: center;
	list-style-type: none;
	margin: 0;
}

button {
	font-family: Ubuntu;
	font-size: 16px;
}

object {
	height: 720px;
	width: 1140px;
}
