body {
	text-align: center;
	background-color: black;
	color: white;
}

button {
    color: white;
	background-color: black;
    border: none;
}

button:hover {
    color: rgb(19, 161, 14);
}

header {
	padding: 20px 50px;
	margin-bottom: 70px;
}

img {
	float: left;
}

li {
	float: right;
	padding: 20px 40px;
	font-size: 16px;
	text-align: center;
	list-style-type: none;
	margin: 0;
}

object {
	height: 720px;
	width: 1140px;
}
